#### **Ejercicio 1: Creación y manipulación de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Miércoles: 200
   - Jueves: 50
   - Viernes: 300
   
2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del miércoles.
   - Calcula el total de ventas de la semana.
   - Filtra los días donde las ventas fueron mayores a 100.

In [12]:
import pandas as pd

#Parte 1
ventas = pd.Series([100,150,200,50,300],index=['Lunes','Martes','Miercoles','Jueves','Viernes'])
print(ventas)

#Parte 2
print('Accede al valor del Miercoles')
print(ventas['Miercoles']) # Accede al valor del Miercoles
print('Ventas de la semana')
print(ventas.sum()) # Ventas de la semana
print('Ventas mayores a 100')
print (ventas[ventas > 100]) # Filtra los dias mayores a 100

Lunes        100
Martes       150
Miercoles    200
Jueves        50
Viernes      300
dtype: int64
Accede al valor del Miercoles
200
Ventas de la semana
800
Ventas mayores a 100
Martes       150
Miercoles    200
Viernes      300
dtype: int64

#### **Ejercicio 2: Creación y análisis de un DataFrame**
1. Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
   - Ana, 23 años
   - Luis, 35 años
   - María, 29 años
   
2. Realiza las siguientes operaciones sobre el DataFrame:
   - Accede a la columna de los nombres.
   - Filtra las filas donde la edad sea mayor a 25.
   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).

In [18]:
# Parte 1
PersonasData = {'Nombre':['Ana','Luis','Maria'],'Edad':[23,35,39]}
dfPersonas = pd.DataFrame(PersonasData)
print(dfPersonas)

# Parte 2
print ('Accede Nombres')
print(dfPersonas['Nombre'])

print('Filtra Edad > 25')
print(dfPersonas[dfPersonas['Edad'] > 25])

  Nombre  Edad
0    Ana    23
1   Luis    35
2  Maria    39
Accede Nombres
0      Ana
1     Luis
2    Maria
Name: Nombre, dtype: object
Filtra Edad > 25
  Nombre  Edad
1   Luis    35
2  Maria    39

#### **Ejercicio 3: Cálculos con DataFrames**
1. Crea un DataFrame con información de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [29]:
# Parte 1
VentasProductosData = {'Producto':['Laptop','Mouse','Teclado'],
                       'Ventas':[30,120,75],
                       'Precios':[1000,50,80]}
dfProductos = pd.DataFrame(VentasProductosData)
print(dfProductos)

# Parte 2
# Agrega columna ImporteTotal
dfProductos['ImporteTotal'] = dfProductos['Ventas']*dfProductos['Precios']

print(dfProductos)

  Producto  Ventas  Precios
0   Laptop      30     1000
1    Mouse     120       50
2  Teclado      75       80
  Producto  Ventas  Precios  ImporteTotal
0   Laptop      30     1000         30000
1    Mouse     120       50          6000
2  Teclado      75       80          6000

#### **Ejercicio 4: Transformación y limpieza de datos en DataFrames**
1. Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
   - Estudiantes: "Ana", "Luis", "María", "Carlos"
   - Matemáticas: 90, 85, None, 78
   - Ciencia: 88, 92, 85, None
   - Historia: 75, None, 80, 90

2. Realiza las siguientes operaciones:
   - Rellena los valores faltantes con la media de cada columna.
   - Renombra las columnas de las materias en inglés (Math, Science, History).
   - Calcula la calificación promedio de cada estudiante.

In [68]:
# Parte 1
EstudiantesData = {'Estudiante':['Ana','Luis','Maria','Carlos'],
                   'Matematicas':[90,85,None,78],
                   'Ciencia':[88,92,85,None],
                   'Historia':[75,None,80,90]}

dfEstudiantes = pd.DataFrame(EstudiantesData)
print(dfEstudiantes)

# Parte 2
# Rellena los valores faltantes con la media de cada columna
dfEstudiantes.at[1, 'Historia'] =  dfEstudiantes['Historia'].mean()
dfEstudiantes.at[2, 'Matematicas'] =  dfEstudiantes['Matematicas'].mean()
dfEstudiantes.at[3, 'Ciencia'] =  dfEstudiantes['Ciencia'].mean()

print('Resultados de la Media')
print(dfEstudiantes)

# Renombra las columnas de las materias en ingles
dfEstudiantes.rename(columns={'Historia': 'History', 'Matematicas': 'Math', 'Ciencia':'Science'}, inplace=True)
print(dfEstudiantes)

# Agrega columna CalificacionPromedio
dfEstudiantes['CalificacionPromedio'] = (dfEstudiantes['Science']+dfEstudiantes['History']+dfEstudiantes['Math'])/3

print('Calificacion Promedio')
print(dfEstudiantes)

  Estudiante  Matematicas  Ciencia  Historia
0        Ana         90.0     88.0      75.0
1       Luis         85.0     92.0       NaN
2      Maria          NaN     85.0      80.0
3     Carlos         78.0      NaN      90.0
Resultados de la Media
  Estudiante  Matematicas    Ciencia   Historia
0        Ana    90.000000  88.000000  75.000000
1       Luis    85.000000  92.000000  81.666667
2      Maria    84.333333  85.000000  80.000000
3     Carlos    78.000000  88.333333  90.000000
  Estudiante       Math    Science    History
0        Ana  90.000000  88.000000  75.000000
1       Luis  85.000000  92.000000  81.666667
2      Maria  84.333333  85.000000  80.000000
3     Carlos  78.000000  88.333333  90.000000
Calificacion Promedio
  Estudiante       Math    Science    History  CalificacionPromedio
0        Ana  90.000000  88.000000  75.000000             84.333333
1       Luis  85.000000  92.000000  81.666667             86.222222
2      Maria  84.333333  85.000000  80.000000             83.111111
3     Carlos  78.000000  88.333333  90.000000             85.444444