### **Ejercicio 1: Análisis de Rentabilidad de Productos**
Supongamos que eres analista de datos en una empresa de comercio electrónico. Tienes un DataFrame que lista varios productos, sus costos, precios de venta y unidades vendidas durante el último mes. Realiza un análisis para identificar qué productos son más rentables.

- Calcula la ganancia por producto y agrega una columna de rentabilidad
- Ordena los productos por rentabilidad

In [4]:
import pandas as pd

data = {
    'Producto': ['Computadora', 'Tablet', 'Smartphone', 'Auriculares', 'Cargador'],
    'Costo': [500, 300, 200, 50, 20],
    'Precio_venta': [1000, 500, 300, 100, 50],
    'Unidades_vendidas': [30, 50, 70, 100, 150]
}

df_productos = pd.DataFrame(data)
df_productos

      Producto  Costo  Precio_venta  Unidades_vendidas
0  Computadora    500          1000                 30
1       Tablet    300           500                 50
2   Smartphone    200           300                 70
3  Auriculares     50           100                100
4     Cargador     20            50                150

In [7]:
#Parte 1
df_productos['Rentabilidad'] = df_productos['Precio_venta'] - df_productos['Costo']

#Parte 2
df_productos.sort_values(['Rentabilidad'],inplace=True)
df_productos

##df_empleados.sort_values(['Edad'],ascending=False,inplace=True)

      Producto  Costo  Precio_venta  Unidades_vendidas  Rentabilidad
4     Cargador     20            50                150            30
3  Auriculares     50           100                100            50
2   Smartphone    200           300                 70           100
1       Tablet    300           500                 50           200
0  Computadora    500          1000                 30           500

### **Ejercicio 2: Segmentación de Clientes por Edad y Consumo**
Como analista de marketing en una cadena de tiendas, debes segmentar a los clientes en grupos de edad y analizar sus patrones de gasto para optimizar las campañas de marketing.

- Agrupa los clientes por rangos de edad y calcula el gasto promedio (investiga el método `cut`)

In [6]:
data_clientes = {
    'Cliente': ['Ana', 'Luis', 'María', 'Carlos', 'Josefina'],
    'Edad': [25, 35, 45, 55, 65],
    'Gasto_mensual': [200, 400, 600, 800, 1000]
}

df_clientes = pd.DataFrame(data_clientes)

In [30]:
#Parte 1
df_clientes["RangoEdad"] = pd.cut(x=df_clientes["Edad"], bins=[20, 40, 60, 80])
df_clientes

Promedio_Gasto_Rango = df_clientes.groupby('RangoEdad')['Gasto_mensual'].mean()
Promedio_Gasto_Rango

#ventas_por_mes = df.groupby('Mes')['Ventas'].mean()
#ventas_por_mes

C:\Users\cgrod\AppData\Local\Temp\ipykernel_34064\3887845841.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  Promedio_Gasto_Rango = df_clientes.groupby('RangoEdad')['Gasto_mensual'].mean()

RangoEdad
(20, 40]     300.0
(40, 60]     700.0
(60, 80]    1000.0
Name: Gasto_mensual, dtype: float64

### **Ejercicio 3: Optimización de Inventarios**
El departamento de operaciones necesita tu ayuda para ajustar los niveles de inventario basados en las ventas anuales y la rotación de productos.

- Calcula la tasa de rotación de inventario

In [3]:
data_inventario = {
    'Producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor'],
    'Inventario_actual': [200, 1500, 800, 150],
    'Ventas_anuales': [600, 1800, 900, 300]
}

df_inventario = pd.DataFrame(data_inventario)

### **Ejercicio 4: Evaluación de Campañas de Marketing**
Se te ha proporcionado un DataFrame con los resultados de diferentes campañas de marketing en términos de alcance y conversiones. Analiza la eficacia de cada campaña para determinar cuál ha tenido el mejor rendimiento en términos de ROI (retorno de inversión).

In [ ]:
data_campañas = {
    'Campaña': ['A', 'B', 'C', 'D'],
    'Alcance': [1000, 3000, 2000, 5000],
    'Conversiones': [50, 150, 100, 200],
    'Costo': [500, 1500, 1000, 2500]
}

df_campañas = pd.DataFrame(data_campañas)

### **Ejercicio 6 (Investigación): Uso del método `melt` en Pandas**

**Investiga cómo se utiliza el método `melt` de pandas para transformar DataFrames de un formato ancho a uno largo.** Crea un DataFrame que represente ventas de varios productos en diferentes meses, utiliza `melt` para cambiar su estructura y analiza cómo podría ser útil este formato para comparaciones o visualizaciones posteriores.

In [4]:
data_ventas = {
    'Producto': ['Laptop', 'Smartphone', 'Tablet'],
    'Enero': [100, 150, 200],
    'Febrero': [110, 120, 180]
}

df_ventas = pd.DataFrame(data_ventas)