#### **Ejercicio 1: Creaci�n y manipulaci�n de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Mi�rcoles: 200
   - Jueves: 50
   - Viernes: 300
   
2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del mi�rcoles.
   - Calcula el total de ventas de la semana.
   - Filtra los d�as donde las ventas fueron mayores a 100.

In [2]:
import pandas as pd

#Parte 1
ventas = pd.Series([100,150,200,50,300],index=['Lunes','Martes','Miercoles','Jueves','Viernes'])
print(ventas)

#Parte 2
print('Accede al valor del Miercoles')
print(ventas['Miercoles']) # Accede al valor del Miercoles
print('Ventas de la semana')
print(ventas.sum()) # Ventas de la semana
print('Ventas mayores a 100')
print (ventas[ventas > 100]) # Filtra los dias mayores a 100
print (ventas[ventas > 100]) # Filtra los dias mayores a 100

ModuleNotFoundError: No module named 'pandas'

#### **Ejercicio 2: Creaci�n y an�lisis de un DataFrame**
1. Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
   - Ana, 23 a�os
   - Luis, 35 a�os
   - Mar�a, 29 a�os
   
2. Realiza las siguientes operaciones sobre el DataFrame:
   - Accede a la columna de los nombres.
   - Filtra las filas donde la edad sea mayor a 25.
   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, Mar�a: 35000).

In [18]:
# Parte 1
PersonasData = {'Nombre':['Ana','Luis','Maria'],'Edad':[23,35,39]}
dfPersonas = pd.DataFrame(PersonasData)
print(dfPersonas)

# Parte 2
print ('Accede Nombres')
print(dfPersonas['Nombre'])

print('Filtra Edad > 25')
print(dfPersonas[dfPersonas['Edad'] > 25])

  Nombre  Edad
0    Ana    23
1   Luis    35
2  Maria    39
Accede Nombres
0      Ana
1     Luis
2    Maria
Name: Nombre, dtype: object
Filtra Edad > 25
  Nombre  Edad
1   Luis    35
2  Maria    39

#### **Ejercicio 3: C�lculos con DataFrames**
1. Crea un DataFrame con informaci�n de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [1]:
# Parte 1
VentasProductosData = {'Producto':['Laptop','Mouse','Teclado'],
                       'Ventas':[30,120,75],
                       'Precios':[1000,50,80]}
dfProductos = pd.DataFrame(VentasProductosData)
print(dfProductos)


# Parte 2
# Agrega columna ImporteTotal
dfProductos['ImporteTotal'] = dfProductos['Ventas']*dfProductos['Precios']

print(dfProductos)

NameError: name 'pd' is not defined

#### **Ejercicio 4: Transformaci�n y limpieza de datos en DataFrames**
1. Crea un DataFrame con informaci�n de estudiantes y sus calificaciones en tres materias:
   - Estudiantes: "Ana", "Luis", "Mar�a", "Carlos"
   - Matem�ticas: 90, 85, None, 78
   - Ciencia: 88, 92, 85, None
   - Historia: 75, None, 80, 90

2. Realiza las siguientes operaciones:
   - Rellena los valores faltantes con la media de cada columna.
   - Renombra las columnas de las materias en ingl�s (Math, Science, History).
   - Calcula la calificaci�n promedio de cada estudiante.

In [63]:
# Parte 1
EstudiantesData = {'Estudiante':['Ana','Luis','Maria','Carlos'],
                   'Matematicas':[90,85,None,78],
                   'Ciencia':[88,92,85,None],
                   'Historia':[75,None,80,90]}

dfEstudiantes = pd.DataFrame(EstudiantesData)
print(dfEstudiantes)

# Parte 2
dfEstudiantes.at[1, 'Historia'] =  dfEstudiantes['Historia'].mean()
dfEstudiantes.at[2, 'Matematicas'] =  dfEstudiantes['Matematicas'].mean()
dfEstudiantes.at[3, 'Ciencia'] =  dfEstudiantes['Ciencia'].mean()

print('Resultados de la Media')
print(dfEstudiantes)

# Agrega columna CalificacionPromedio
dfEstudiantes['CalificacionPromedio'] = (dfEstudiantes['Ciencia']+dfEstudiantes['Historia']+dfEstudiantes['Historia'])/3

print('Calificacion Promedio')
print(dfEstudiantes)

  Estudiante  Matematicas  Ciencia  Historia
0        Ana         90.0     88.0      75.0
1       Luis         85.0     92.0       NaN
2      Maria          NaN     85.0      80.0
3     Carlos         78.0      NaN      90.0
Resultados de la Media
  Estudiante  Matematicas    Ciencia   Historia
0        Ana    90.000000  88.000000  75.000000
1       Luis    85.000000  92.000000  81.666667
2      Maria    84.333333  85.000000  80.000000
3     Carlos    78.000000  88.333333  90.000000
Calificacion Promedio
  Estudiante  Matematicas    Ciencia   Historia  CalificacionPromedio
0        Ana    90.000000  88.000000  75.000000             79.333333
1       Luis    85.000000  92.000000  81.666667             85.111111
2      Maria    84.333333  85.000000  80.000000             81.666667
3     Carlos    78.000000  88.333333  90.000000             89.444444